.result-films {
    margin: 0 4px;
}

body {
    font-family: 'Lato', sans-serif;
}

.app-wrapper {
    display: grid;
    justify-content: center;
}

.home {
    height: calc(100vh - 33px);
    width: 86vw;
    display: grid;
    align-content: space-around;
    justify-items: stretch;
}

.logo-main,
.recent-results {
    display: grid;
    justify-items: center;
}

$color-gray-one: #666666;
$color-gray-two: #B3B3B3;

@import './searchBar';
